.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parag_contact {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: blueviolet;
  font-size: 50px;
}

.button {
  margin: 10px;
}
.addContact p{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: brown;
}
.addContact form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0px 100px;
}
.addContact form button {
  width: 15px;
}
.contact_list {
  display: flex;
  flex-wrap: wrap;
}
.list {
  border: 1px solid;
  width: 250px;
  margin: 15px;
  padding: 10px;
  background-color: azure;
}
.list .button {
  margin: 15px;
}
